.hoverH {
    cursor: pointer;
    width: 150px;
    margin-top: 0px;
}
.floatoneline 
    {    
        float: left; /* additionally, equal width */
        margin-right: 35px;
        height: 550px;
        margin-bottom: 0px;
    } 
    .pageHolder
    { 
        overflow: auto;
    }
    p{
        margin-bottom: 0px;
        font-size: 13px;
    }
